@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
                
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
                                                
}

body{
  background: #ffffff;
  color: #274535;
  font-family: "Merriweather", serif;
                                                
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}



@keyframes swipeRightAndDisappear {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    display: none;
  }
}

.swipe-right {
  animation: swipeRightAndDisappear 1s ease-out forwards;
}

@keyframes swipeUpAndDisappear {
  0% {
    transform: translateY(0); 
    opacity: 1; 
  }
  100% {
    transform: translateY(-100%); 

    display: none; 
  }
}

.swipe-up {
  animation: swipeUpAndDisappear 1s ease-out forwards;
}

